<html>

<body>
  <label>Query</label>
  <input id="query" />
  <label>Disable fuzzy search</label><input type="checkbox" id="disableFuzzy">
  <pre id="result"></pre>
  <script>
    (function () {
      let searchState = {
        query: '',
        disableFuzzy: false
      };

      const queryElement = document.getElementById('query');
      const resultElement = document.getElementById('result');
      const disableFuzzyElement = document.getElementById('disableFuzzy');
      const onUpdate = () => {
        if (queryElement.value === searchState.query && disableFuzzyElement.checked === searchState.disableFuzzy) {
          return;
        }
        disableFuzzyQuery = disableFuzzyElement.checked ? 'disableFuzzy=true&' : '';
        fetch(`/scoop/package?${disableFuzzyQuery}query=${queryElement.value}`)
          .then(response => response.json())
          .then(body => {
            resultElement.innerHTML = JSON.stringify(body, null, 2);
            searchState.query = queryElement.value;
            searchState.disableFuzzy = disableFuzzyElement.checked;
          });
      };
      queryElement.addEventListener('keyup', onUpdate);
      disableFuzzyElement.addEventListener('change', onUpdate);
    })();
  </script>
</body>

</html>